.App {
  text-align: center;
  background-color: #293428;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.custom-buttons button {
  margin-bottom: 24px;
  padding: 12px;
  margin-right: 16px;
  border-radius: 8px;
}

input {
  padding: 16px;
  border-radius: 8px;
}